[submodule "srcutils"]
	path = srcutils
	url = git@github.com:allovelle/srcutils.git
[submodule "member-rs"]
	path = member-rs
	url = git@github.com:allovelle/member-rs.git
[submodule "solutils"]
	path = solutils
	url = git@github.com:allovelle/solutils.git
[submodule "line_item"]
	path = line_item
	url = git@github.com:allovelle/line_item.git
